.env
**/__pycache__/
api_server/data/loaded/pdfs
api_server/data/metadata/pdfs
api_server/data/raw
.python-version
api_server/.svenv
rag_server/.rvenv
**/.DS_Store
api_server/tests/.pytest_cache
api_server/logs/*.log
rag_server/logs/*.log
node_modules/
artillery/
.vscode
api_server/.vscode
docker.md
pricing.md